<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--nondisplay start-->
        <div>contact manager</div>
        <h3>spring boot contact manager project</h3>
        <h3 style="color: red" data-th-text="'hello'+'     '+'jhon' "></h3>
        <!--End-->
        <section class="banner text-uppercase d-flex align-items-center justify-content-center">
            <div class="text-center">
                    <h2 class="font-weight-bold">Digital Contact manager</h2>
                    <p> Welcome to Digital contact manager here you can manage contact in efficient manner</p>
                    <button class="btn btn-outline-primary">Get Started</button>
            </div>
         
        </section>
    </body>
</html>
