<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>

                    <section>
                        <div class="container">
                            <div class="row">

                                <div class="col-md-8 offset-md-2">
                                    <div class="mycard">
                                        <div th:if="${session.msg}" th:classappend="${session.msg.type}" class="alert text-center p3 ">
                                            <p th:text="${session.msg.content}"></p>
                                            <th:block th:text="${#session.removeAttribute('msg')}"> </th:block>
                                        </div>
                                        
                                        <div class="container text-center mt-3">
                                            <img style="width: 100px" th:src="@{/Img/register-icon.png}" />

                                        </div>
                                        <h1 class="text-center mt-2">Register Here !!</h1>
                                        <form  action="" th:action="@{/do_register}" method="post" th:object="${user}">
                                            <div class="form-group">
                                                <label for="name_field">Your Name</label>
                                                <input type="text"  th:value="${user.name}" name="name" class="form-control"  id="name_field" aria-describedby="name" placeholder="Enter Your name ...." required="" />
<!--                                                    th:classappend="${#fields.hasErrors('name')?'is-invalid' : '' }"
                                                    <div class="invalid-feedback" th:each="e:${#fields.errors('name')}">
                                                        <p th:text="${e}"></p>
                                                    </div>-->
                                            </div>
                                            <div class="form-group">
                                                <label for="email_field">Your Email</label>
                                                <input type="email" th:value="${user.email}" name="email" class="form-control" id="email_field" aria-describedby="email" placeholder="Enter Your Email ...." required="">
                                            </div>
                                            <div class="form-group">
                                                <label for="password_field">Your Password</label>
                                                <input type="password" th:value="${user.password}" name="password" class="form-control" id="password_field" aria-describedby="password" placeholder="Enter password ...." required="">
                                            </div>
                                            <!--user-about-field-->
                                            <div class="form-group">
                                                <textarea name="about" th:value="${user.about}"  class="form-control" rows="10"   aria-describedby="abouut" placeholder="Enter something here ...."></textarea>
                                            </div>
                                            <div class="form-group form-check">
                                                <input type="checkbox" name="agreement" class="form-check-input" id="checkbox_field" aria-describedby="agreement" />

                                                <label for="checkbox_field">Accept terms and condition</label>

                                            </div>
                                            <!--terms and condition-->
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary bg-outline-primary">Submit</button>

                                                <button type="reset" class="btn btn-success bg-outline-success">Reset</button>
                                            </div>
                                        </form>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </section>
                </body>
                </html>
